* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    
}
header {
    background-color: white;
    
    
}
nav {
    background-color: #f8f8f8;
    width: 100%;
    max-width: 1600px;
   display : flex;
    justify-content: space-between;
    padding: 16px 120px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
    
    font-size: 16px;
}   
nav ul li a:hover {
    color: #007BFF;
    
}
nav button {
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}