* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: Arial, sans-serif;
    background-color:  #ffffff;
    color: #000000;
    
}
header {
    background-color: white;
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
   
    background-repeat: no-repeat;
    background-size: contain,auto;
    width: 100%;
    /* max-width: 1600px;
    height: 600px; */
    
    
}
nav {
    background-color: #FFF8F3;
    width: 100%;
    max-width: 1600px;
   display : flex;
    justify-content: space-between;
    padding: 16px 120px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
    
    font-size: 16px;
}   
nav ul li a:hover {
    color: #007BFF;
   
    
}
nav button {
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
   

}
nav button:hover {
      transform: scale(1.05);
    transition: transform 0.3s;
  }

header {
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
   
  background-size: 100% ;
  width: 100%;
    height: 750px;

}
.hero-container .early-access:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.hero-container .early-access {
    display: flex;
    background: #FFF8F3;
    border: 1px solid #469165;
    border-radius: 1000px;
    align-items: center;
    color: #469165;
    padding: 8px 12px;
    cursor: pointer;
    margin: 207px 650px 0 685px;
    font-size: 16px;
    font-weight: 400;
    
}
.hero-container .early-access img {
    width: 16px;
    height: 16px;
    margin-right: 8px;

  
}
.heading-text {
    text-align: center;
    
    margin: 20px 415px 0 415px;
}
.heading-text h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}
.heading-text h1 .color{
   color: #469165;
}
.heading-information {
    text-align: center;
    margin: 15px 600px 0 600px;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    line-height: 1.2;
}
.button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
   
    
}
.button-1:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.button-2:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.button-1 {
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-2 {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

#problem {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    margin: 0;
}
#problem .heading h1{
    align-items: center;
    /* text-align: center; */
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
}
#problem .heading p {
    font-size: 16px;
    font-weight: 200;
    color: #000000;
    margin-top: 15px;
    line-height: 1;
}
#problem .problem-card {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px 150px 0px 150px;
    
   
}
#problem .icon{
   height: 60px;
   width: 60px;
   background-color:#ba1b1b;
    border-radius: 50%;
}
#problem .problem-card .problem-card-1, .problem-card-2, .problem-card-3, .problem-card-4 {
   
  gap: 30px;
    
    background-color:#FFF8F3;
    padding: 20px;
    border-radius: 10px;

   
}
#problem .problem-card .problem-card-1 h2, .problem-card-2 h2, .problem-card-3 h2, .problem-card-4 h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
#problem .problem-card .problem-card-1:hover, .problem-card-2:hover, .problem-card-3:hover, .problem-card-4:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.brain-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
    

}
#brain .sol {
font-size: 18;
color: #469165;
margin-bottom: 15px;

}
.brain-text h1{
    padding: 5px;
    font-size: 48;
    font-weight: bolder;
}
#brain .info {
    margin: 20px 20px 20px 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    
    
}

.brain-features p {
    font-weight: 600;
    color: #627382;
    line-height: 1.7;
} 



#challenge {
    background-color: #fff8f3cd;
    padding: 80px 20px;
    text-align: center;
    margin: 0 120px 120px 120px ;
    border-radius: 10px;
}

#challenge .challenge-container {
    max-width: 800px;
    margin:  0 auto;
   
    

    /* margin: 0 120px 120px 120px ; */
}
#challenge .challenge-container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}
#challenge .challenge-container button {
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 15px;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 8px;
}

#challenge .challenge-container button:hover {
      transform: scale(1.05);
    transition: transform 0.3s;
}

#challenge .challenge-container p {
    margin-top: 10px;
    font-size: 18px;
    color: #627382;
}


footer {
    background-color: #001931;
    padding: 100px ;
    text-align: center;
    margin-top: 50px;
    color: white;
}
footer .footer-cointainer{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 50px auto;
    padding: 0 20px;
    gap : 20px;

}
footer .footer-cointainer div img{
    color: #ffffff;
}
footer .footer-bottom {
    margin-top: 20px;
}
footer hr {
    border: 0;
    height: 1px;
    background-color: #555555;
}
